In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("p_types.csv")
#a = a.replace(pd.NA, 0)

In [52]:
a.head(20)

                name  id  type1   type2
0          bulbasaur   1  grass  poison
1            ivysaur   2  grass  poison
2           venusaur   3  grass  poison
3      venusaur-gmax   3  grass  poison
4      venusaur-mega   3  grass  poison
5         charmander   4   fire     NaN
6         charmeleon   5   fire     NaN
7          charizard   6   fire  flying
8     charizard-gmax   6   fire  flying
9   charizard-mega-x   6   fire  dragon
10  charizard-mega-y   6   fire  flying
11          squirtle   7  water     NaN
12         wartortle   8  water     NaN
13         blastoise   9  water     NaN
14    blastoise-gmax   9  water     NaN
15    blastoise-mega   9  water     NaN
16          caterpie  10    bug     NaN
17           metapod  11    bug     NaN
18        butterfree  12    bug  flying
19   butterfree-gmax  12    bug  flying

In [59]:
f = a[a['name'] == 'charmander']

In [60]:
f

         name  id type1 type2
5  charmander   4  fire   NaN

In [61]:
types = [f.type1.values[0], f.type2.values[0]]
types

['fire', nan]

In [62]:
types = types[types == pd.NA]
types

'fire'

In [65]:
def get_types(pokemon_en: str):
	row = a[a['name'] == pokemon_en]
	types = [row.type1, row.type2]
	types = [t.values[0] for t in types if pd.notna(t.values[0])]
	return types

In [67]:
get_types('charmander')

['fire']

In [1]:
from list import de_list, en_list

In [2]:
de_list.index('digda')

49

In [3]:
en_list[de_list.index('digda')]

'diglett'

In [1]:
s = dict(feuer=1, wasser=2, pflanze=1)

In [10]:
keys = [k for k, v in s.items() if v == 1]
keys

['feuer', 'pflanze']

In [ ]:
import pandas as pd

table = pd.read_csv("type_weaknesses.csv", index_col=0)



def get_type_dict(type1: str, type2: str = "None"):
	if type2 == "None":
		return table[type1].astype(float).to_dict()
	else:
		return (table[type1] * table[type2]).astype(float).to_dict()

In [ ]:
get_type_dict("fire", "water")

{'normal': 1.0,
 'fire': 0.25,
 'water': 1.0,
 'electric': 2.0,
 'grass': 1.0,
 'ice': 0.25,
 'fighting': 1.0,
 'poison': 1.0,
 'ground': 2.0,
 'flying': 1.0,
 'psychic': 1.0,
 'bug': 0.5,
 'rock': 2.0,
 'ghost': 1.0,
 'dragon': 1.0,
 'dark': 1.0,
 'steel': 0.25,
 'fairy': 0.5}

In [7]:
table

,normal,fire,water,electric,grass,ice,fighting,poison,ground,flying,psychic,bug,rock,ghost,dragon,dark,steel,fairy
Attacking,,,,,,,,,,,,,,,,,,
normal,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,0.0,1.0,1.0,0.5,1.0
fire,1,0.5,0.5,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,0.5,1.0,0.5,1.0,2.0,1.0
water,1,2.0,0.5,1.0,0.5,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,0.5,1.0,1.0,1.0
electric,1,1.0,2.0,0.5,0.5,1.0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0
grass,1,0.5,2.0,1.0,0.5,1.0,1.0,0.5,2.0,0.5,1.0,0.5,2.0,1.0,0.5,1.0,0.5,1.0
ice,1,0.5,0.5,1.0,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,0.5,1.0
fighting,2,1.0,1.0,1.0,1.0,2.0,1.0,0.5,1.0,0.5,0.5,0.5,2.0,0.0,1.0,2.0,2.0,0.5
poison,1,1.0,1.0,1.0,2.0,1.0,1.0,0.5,0.5,1.0,1.0,1.0,0.5,0.5,1.0,1.0,0.0,2.0
ground,1,2.0,1.0,2.0,0.5,1.0,1.0,2.0,1.0,0.0,1.0,0.5,2.0,1.0,1.0,1.0,2.0,1.0
flying,1,1.0,1.0,0.5,2.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,0.5,1.0,1.0,1.0,0.5,1.0
psychic,1,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,0.5,1.0,1.0,1.0,1.0,0.0,0.5,1.0
bug,1,0.5,1.0,1.0,2.0,1.0,0.5,0.5,1.0,0.5,2.0,1.0,1.0,0.5,1.0,2.0,0.5,0.5
rock,1,2.0,1.0,1.0,1.0,2.0,0.5,1.0,0.5,2.0,1.0,2.0,1.0,1.0,1.0,1.0,0.5,1.0
ghost,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,0.5,1.0,1.0
dragon,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,0.5,0.0
dark,1,1.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,0.5,1.0,0.5
steel,1,0.5,0.5,0.5,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.5,2.0
fairy,1,0.5,1.0,1.0,1.0,1.0,2.0,0.5,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,0.5,1.0