In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("p_types.csv")
#a = a.replace(pd.NA, 0)

In [52]:
a.head(20)

                name  id  type1   type2
0          bulbasaur   1  grass  poison
1            ivysaur   2  grass  poison
2           venusaur   3  grass  poison
3      venusaur-gmax   3  grass  poison
4      venusaur-mega   3  grass  poison
5         charmander   4   fire     NaN
6         charmeleon   5   fire     NaN
7          charizard   6   fire  flying
8     charizard-gmax   6   fire  flying
9   charizard-mega-x   6   fire  dragon
10  charizard-mega-y   6   fire  flying
11          squirtle   7  water     NaN
12         wartortle   8  water     NaN
13         blastoise   9  water     NaN
14    blastoise-gmax   9  water     NaN
15    blastoise-mega   9  water     NaN
16          caterpie  10    bug     NaN
17           metapod  11    bug     NaN
18        butterfree  12    bug  flying
19   butterfree-gmax  12    bug  flying

In [59]:
f = a[a['name'] == 'charmander']

In [60]:
f

         name  id type1 type2
5  charmander   4  fire   NaN

In [61]:
types = [f.type1.values[0], f.type2.values[0]]
types

['fire', nan]

In [62]:
types = types[types == pd.NA]
types

'fire'

In [65]:
def get_types(pokemon_en: str):
	row = a[a['name'] == pokemon_en]
	types = [row.type1, row.type2]
	types = [t.values[0] for t in types if pd.notna(t.values[0])]
	return types

In [67]:
get_types('charmander')

['fire']

In [2]:
from list import de_list, en_list

In [3]:
de_list.index('baldorfish')

210

In [5]:
en_list[de_list.index('baldorfish')]

'qwilfish'

In [1]:
s = dict(feuer=1, wasser=2, pflanze=1)

In [10]:
keys = [k for k, v in s.items() if v == 1]
keys

['feuer', 'pflanze']

In [1]:
import pandas as pd

table = pd.read_csv("type_weaknesses.csv", index_col=0)



def get_type_dict(type1: str, type2: str = "None"):
	if type2 == "None":
		return table[type1].astype(float).to_dict()
	else:
		return (table[type1] * table[type2]).astype(float).to_dict()

In [2]:
di = get_type_dict("ghost", "water")
di

{'normal': 0.0,
 'fire': 0.5,
 'water': 0.5,
 'electric': 2.0,
 'grass': 2.0,
 'ice': 0.5,
 'fighting': 0.0,
 'poison': 0.5,
 'ground': 1.0,
 'flying': 1.0,
 'psychic': 1.0,
 'bug': 0.5,
 'rock': 1.0,
 'ghost': 2.0,
 'dragon': 1.0,
 'dark': 2.0,
 'steel': 0.5,
 'fairy': 1.0}

In [3]:
def get_keys_by_value(di: dict, value: float):
	return [k for k, v in di.items() if v == value]

fourx = get_keys_by_value(di, 4)
twox = get_keys_by_value(di, 2)
halfx = get_keys_by_value(di, 0.5)
quarterx = get_keys_by_value(di, 0.25)
noeffect = get_keys_by_value(di, 0)

In [4]:
print("4x:", fourx)
print("2x:", twox)
print("0.5x:", halfx)
print("0.25x:", quarterx)
print("no effect:", noeffect)

4x: []
2x: ['electric', 'grass', 'ghost', 'dark']
0.5x: ['fire', 'water', 'ice', 'poison', 'bug', 'steel']
0.25x: []
no effect: ['normal', 'fighting']

In [ ]:
import tkinter as tk
from tkinter import ttk
import time

def update_labels(x4: list, x2: list, x05: list, x025: list, x0: list):
	global types_4, types_2, types_0_5, types_0_25, types_0, root
	types_4.config(text=str(x4))
	types_2.config(text=str(x2))
	types_0_5.config(text=str(x05))
	types_0_25.config(text=str(x025))
	types_0.config(text=str(x0))
	root.update()

root = tk.Tk()
frm = ttk.Frame(root, padding=10)
frm.grid()

label_4 = ttk.Label(frm, text="4x", justify="left")
label_4.grid(row=0, column=0)
types_4 = ttk.Label(frm, text="", justify="left")
types_4.grid(row=0, column=1)

label_2 = ttk.Label(frm, text="2x", justify="left")
label_2.grid(row=1, column=0)
types_2 = ttk.Label(frm, text="", justify="left")
types_2.grid(row=1, column=1)

label_0_5 = ttk.Label(frm, text="0.5x", justify="left")
label_0_5.grid(row=2, column=0)
types_0_5 = ttk.Label(frm, text="", justify="left")
types_0_5.grid(row=2, column=1)

label_0_25 = ttk.Label(frm, text="0.25x", justify="left")
label_0_25.grid(row=3, column=0)
types_0_25 = ttk.Label(frm, text="", justify="left")
types_0_25.grid(row=3, column=1)

label_0 = ttk.Label(frm, text="0x", justify="left")
label_0.grid(row=4, column=0)
types_0 = ttk.Label(frm, text="", justify="left")
types_0.grid(row=4, column=1)

exit_button = ttk.Button(frm, text="Exit", command=root.destroy)
exit_button.grid(row=5, column=0, columnspan=2)

update_labels(fourx, twox, halfx, quarterx, noeffect)

time.sleep(5)

di = get_type_dict("fire", "bug")

fourx = get_keys_by_value(di, 4)
twox = get_keys_by_value(di, 2)
halfx = get_keys_by_value(di, 0.5)
quarterx = get_keys_by_value(di, 0.25)
noeffect = get_keys_by_value(di, 0)

update_labels(fourx, twox, halfx, quarterx, noeffect)